.header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0px 0px 2px #999;
}

.header img {
  height: 1.5rem;
  margin-left: 10px;
}


.header .header-user {
  display: flex;
}

.header .header-user span {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
